.wrapperStyling {
    margin: 3vw;

    @media(min-width:800px) {
        margin: 2vw 6vw;
        display: grid;
        gap: 2vw;
        grid-template-areas:
            "news1 news1 news1 news1"
            "news1 news1 news1 news1"
            "news2 news2 news3 news3"
            "news2 news2 news5 news5"
            "news4 news4 news5 news5"
            "news6 news6 news6 news6"
            "news7 news7 news7 news7"
            "news8 news8 news9 news9";
    }
}

.singleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.news1 {
    grid-area: news1;
}

.news2 {
    grid-area: news2;
}

.news3 {
    grid-area: news3;
}

.news4 {
    grid-area: news4;
}

.news5 {
    grid-area: news5;
}

.news6 {
    grid-area: news6;

    article {
        display: flex;
        flex-direction: row;
        img{
            width: 50%;
        }
    }
}

.news7 {
    grid-area: news7;
    

    article {
        display: flex;
        flex-direction: row-reverse;
        img{
            width: 50%;
        }
    }
}

.news8 {
    grid-area: news8;
}

.news9 {
    grid-area: news9;
}