@use './styles/placeholders' as *;
@use './styles/variables' as *;


html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  @extend %roboto;
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  background-color: $page-color;
  color: $text;
}
